.chart {
    width: 100vw !important;
    height: 100vh !important;
    position: relative;
    background-color: #1f2227;
    // & > canvas {
    //     width: 600px !important;
    //     height: 600px !important;
    // }
}